<div class="layout">
  <div class="small-card">
    <div class="header-img">
      <div class="mark-fab"><i class="far fa-heart"></i></div>
       <img src="https://picsum.photos/800/600?random?image=3" alt="">
    </div>
    <div class="info-description">
      <h2>Costa Brava, Espagne</h2>
      <h3>Torremirona Relais Hotel Golf & Spa ****</h3>
      <p>Bien-être & loisirs dans un écrin de verdure.</p>
    </div>
    <div class="info-price">
      <div class="discount">36%</div>
      <div class="preprice">à partir de 117</div>
      <div class="postprice">par chambre</div>
    </div>
    <div class="info-more">
      <button class="btn"> > </button>
    </div>
  </div>
  <div class="small-card">
    <div class="header-img">
      <img src="https://picsum.photos/800/600?random?image=4" alt="">
    </div>
    <div class="info-description">
      <h2>Costa Brava, Espagne</h2>
      <h3>Torremirona Relais Hotel Golf & Spa ****</h3>
      <p>Bien-être & loisirs dans un écrin de verdure.</p>
    </div>
    <div class="info-price">
      <div class="discount">36%</div>
      <div class="preprice">à partir de 117</div>
      <div class="postprice">par chambre</div>
    </div>
    <div class="info-more">
      <button class="btn"> > </button>
    </div>
  </div>
    <div class="big-card">
    <div class="header-img">
      <img src="https://picsum.photos/800/600?random?image=1" alt="">
    </div>
   <div class="info-description">
      <h2>Costa Brava, Espagne</h2>
      <h3>Torremirona Relais Hotel Golf & Spa ****</h3>
      <p>Bien-être & loisirs dans un écrin de verdure.</p>
    </div>
    <div class="info-price">
      <div class="discount">36%</div>
      <div class="preprice">à partir de 117</div>
      <div class="postprice">par chambre</div>
    </div>
    <div class="info-more">
      <button class="btn"> > </button>
    </div>
  </div>
</div>